@import 'scrollbars.scss';
@import '@fontsource/metal-mania/index.css';

@include scrollbars(0.7em, gold, #313131);

/* fonts */
@font-face {
    font-family: 'BluuNext';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/BluuNext-Bold.otf');
}
@font-face {
    font-family: 'BluuNext';
    font-style: italic;
    font-weight: bold;
    src: url('/fonts/BluuNext-Bold.otf');
}
@font-face {
    font-family: 'BluuNext';
    font-style: bold;
    font-weight: 500;
    src: url('/fonts/BluuNext-Bold.otf');
}

/* colors */
:root {
	--primary: #FFC368;
	--secondary: white;
	--bg-primary: #121212;
	--bg-secondary: #212121;
	font-family: "BluuNext";
}


* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: #111111;
	color: var(--secondary);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}
#svelte {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100vh;
}
main {
	flex-grow: 1;
	position: relative;
}

a {
	text-decoration: none;
	color: white;
}
html {
	scroll-behavior: smooth;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	overflow-x: hidden;
}
.extraLink {
	color: var(--primary);
}
